*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:black;
}

.hero{
  width:100%;
  height:100vh;

  background-image:
  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("https://i.pinimg.com/736x/19/8b/2f/198b2f01e73b905772279616eccc7c65.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
}

.navbar{
  width:100%;
  padding:25px 10%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
  z-index:10;
}

.logo{
  color:#e50914;
  font-size:45px;
  font-weight:bold;
  letter-spacing:1px;
}

.nav-right{
  display:flex;
  gap:15px;
  align-items:center;
}

.nav-right select{
  padding:8px 15px;
  background:transparent;
  color:white;
  border:1px solid #999;
  border-radius:5px;
  outline:none;
}

.nav-right button{
  padding:8px 18px;
  border:none;
  background:#e50914;
  color:white;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

button:hover {
  transition: 0.3s;
  background: #b61921;
}

.hero-content{
  position:relative;
  z-index:10;
  width:100%;
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  padding:20px;
}

.hero-content h1{
  font-size:65px;
  font-weight:900;
  margin-bottom:20px;
}

.hero-content h3{
  font-size:25px;
  font-weight:400;
  margin-bottom:25px;
}

.hero-content p{
  font-size:18px;
  margin-bottom:20px;
}

.email-box{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  justify-content:center;
}

.email-box input{
  width:380px;
  padding:18px;
  background:rgba(0,0,0,0.6);
  border:1px solid #777;
  border-radius:5px;
  color:white;
  font-size:16px;
  outline:none;
}

.email-box button{
  padding:18px 28px;
  background:#e50914;
  color:white;
  border:none;
  border-radius:5px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
}

button:hover {
  transition: 0.3s;
  background: #b61921;
}

.bottom-line{
  position:absolute;
  bottom:0;
  width:100%;
  height:5px;
  background:#e50914;
  box-shadow:0 0 20px #e50914;
}

.trending-section{
  width:100%;
  padding:60px 10%;
  background:black;
  color:white;
}

.trending-section h2{
  font-size:35px;
  margin-bottom:30px;
}

.trending-cards{
  display:flex;
  gap:20px;
  overflow-x:auto;
  padding-bottom:20px;
}

.trending-cards::-webkit-scrollbar{
  display:none;
}

.movie-card{
  position:relative;
  min-width:180px;
  transition:0.4s;
  cursor:pointer;
}

.movie-card:hover{
  transform:scale(1.08);
}

.movie-card img{
  width:205px;
  height:350px;
  object-fit:cover;
  border-radius:15px;
}

.movie-card span{
  position:absolute;
  bottom:10px;
  left:-15px;
  font-size:100px;
  font-weight:900;
  color:black;
  -webkit-text-stroke:2px white;
}

.reason-section{
  width:100%;
  padding:20px 10% 80px;
  background:black;
  color:white;
}

.reason-section h2{
  font-size:35px;
  margin-bottom:30px;
}

.reason-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.reason-box{
  background:linear-gradient(
      145deg,
      #1d2b64,
      #0f172a
  );
  padding:30px 25px;
  border-radius:20px;
  min-height:250px;
  transition:0.4s;
}

.reason-box:hover{
  transform:translateY(-8px);
}

.reason-box h3{
  font-size:28px;
  margin-bottom:20px;
}

.reason-box p{
  font-size:17px;
  line-height:1.6;
  color:#ddd;
}

.faq-section{
  width:100%;
  padding:70px 10%;
  background:black;
  color:white;
}

.faq-section h2{
  font-size:40px;
  margin-bottom:30px;
}

.faq{
  margin-bottom:10px;
}

.faq input{
  display:none;
}

.faq label{
  background:#2d2d2d;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px;
  font-size:28px;
  font-weight:500;
  cursor:pointer;
  transition:0.3s;
}

.faq label:hover{
  background:#444;
}

.faq label span{
  font-size:45px;
}
.answer{
  background:#2d2d2d;
  max-height:0;
  overflow:hidden;
  transition:0.4s;
  font-size:24px;
  line-height:1.6;
  margin-top:2px;
  padding:0 30px;
}

.faq input:checked ~ .answer{
  max-height:300px;
  padding:30px;
}

.faq-email{
  margin-top:60px;
  text-align:center;
}

.faq-email p{
  margin-bottom:20px;
  font-size:18px;
}

.footer{
  width:100%;
  padding:70px 10%;
  background:black;
  color:#aaa;
}

.footer-top{
  margin-bottom:40px;
  font-size:18px;
}

.footer-links{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

.footer-links div{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.footer-links a{
  color:#aaa;
  text-decoration:underline;
  font-size:15px;
}

.footer-language{
  margin-top:40px;
}

.footer-language select{
  padding:10px 20px;
  background:transparent;
  color:white;
  border:1px solid #777;
  border-radius:5px;
}

.footer-country{
  margin-top:30px;
  font-size:15px;
}
